sudo: required
language: generic

services:
  - docker
script:
  - docker build --tag portenez/plantuml-cli .

after_success:
  - if [ "$TRAVIS_BRANCH" == "master" ]; then
    docker login -u="$DOCKER_USERNAME" -p="$DOCKER_PASSWORD";
    docker push portenez/plantuml-cli;
    fi
